<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <connectionStrings>
      <add name="SQL" connectionString="server=mysql.labranet.jamk.fi;database=salesa;user=salesa;password=Ucl7ZePhMt0sXYE5MGg1b75vcpMiuMoo;" />
    </connectionStrings>
    <appSettings>
      <add key="XML" value="App_Data\Palautteet.xml" />
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>
