<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="kate" value="0.3"/>
      <add key="lasinNelioHinta" value="45"/>
      <add key="alumiiniKarminJuoksumetriHinta" value="100"/>
      <add key="tyoMenekki" value="150"/>
    </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
